<launch>

  <param name="robot_description" textfile="$(find maskor_ev3)/description/urdf/bobb3e/mindstorm_second.urdf" />

  <!--
  <node pkg="joint_state_publisher" type="joint_state_publisher"  name="joint_state_publisher">
  </node>
  -->

  <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>



  <node pkg="rviz" type="rviz"  name="rviz" output="screen">

  </node>
</launch>
